
{% extends 'tracker/base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    <button type="submit" class="btn btn-primary">Save</button>
    {% csrf_token %}
    {{ form|crispy }}
  </form>
  <form method="get" action="{% url 'tracker:curstatsummary_add' %}">
    {% csrf_token %}
    <input type="hidden" name="client_id" value="{{client_id}}">
    <input type="hidden" name="apii_id" value="{{apii_id}}">
    <button type="submit" class="btn btn-primary">Add Status</button>
  </form>
  
  {% render_table table2 %}
{% endblock %}
