
{% extends 'tracker/base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
<a href="{{ back_to_apii }}">Back</a>
  <form method="post">
    <button type="submit" class="btn btn-primary">Save</button>
    {% csrf_token %}
    {{ form|crispy }}
  </form>

  <form method="post" action="{% url 'tracker:curstat_add' %}">
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">Add Status</button>
  </form>
  {% render_table table_curstatsummary %}

  <form method="post" action="{% url 'tracker:envcred_add' %}">
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">Add Env. Credential</button>
  </form>
  {% render_table table_envcredsummary %}
{% endblock %}
